{
  "extends": "@arcoz",
  "rules": {
    "max-len": [
      "error",
      {
        "ignoreTemplateLiterals": true,
        "ignoreStrings": true,
        "code": 120
      }
    ],
    "eol-last": 0
  }
}
